*{
	margin: 0 auto;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;

}



}

.titulo h2{
	font-size:45px;
	text-align: left;
	margin-left: 100px;
	margin-bottom: 50px;
	margin-bottom: 50px;

}


.fotos ul li {
	display:inline-block;
	width: 300px;
	height: 200px;
	margin-left:35px;
	margin-right: 35px;


}
.produtos img {
	 width: 200px;
	 height: 200px;
