
*{
    margin: 0;
}

h2, h3{
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-size: 30px;
}

/* PAGINA DE AGENDAR HORARIO */
#agendar-horario{
    width: 100%;
    height: 400px;
    background-image: url("/Imagens/fundo-quem-somos.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    text-align: center;
}

#link-horario{
    width: 100%;
    float: left;
    margin-top: 12%;
    /* margin-bottom: 180px; */
}


/* ----------------------------------- */






/* SERVIÇOS */

#serviços{
    height: 360px;
    
}


#serviços h2{
    padding: 0px 0 10px 0;
    text-align: center;
    
}

#serviços figure img{
    height: 150px;
}

#serviços h3{
    margin: 10px 0 10px 0;
    text-align: center;
    
}

#serviços p{
    margin: 0;
    text-align: center;
}


#serviços article{
    width: 33.33%;
    height: 60%;
    float: left;
    /* border: black 1px solid; */
    margin-top: 25px;
    text-align: center;
}

/* ----------------------------------- */





/* PAGINA QUEM SOMOS */

#quem-somos figure img{
    height: 120px;
    width: 120px;
    text-align: center;
    border: solid 3px black;
    border-radius: 50%;
    
}

#quem-somos h2{
    text-align: center;
    padding: 20px 0 20px 0;
    background-color: #0d0b0c;
    color: white;
    font-family: 'Oswald', sans-serif;

}

#quem-somos p{
    margin: 0;
    text-align: center;
    align-items: center;
    height: 70px;
    background-color: #0d0b0c;
    font-family: 'Montserrat', sans-serif;
    color: white;
    
    
    
}

#div_quem__somos{
    height: 300px;
    background-color: #0d0b0c;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;

}

#quem-somos article{
    width: 25%;
    height: 60%;
    float: left;
    /* border: black 1px solid; */
    margin-top: 40px;
    text-align: center;
    align-items: center;   
    color: white;
    font-family: 'Open sans';
   
    

}

#quem-somos article p a{
    /* text-decoration: none; */
    color: white;
   font-weight: bold;
}

/* ------------------------------------------ */











