
*{
    margin: 0;
}




/* PAGINA QUEM SOMOS */

#quem-somos figure img{
    height: 120px;
    width: 120px;
    text-align: center;
    
}

#quem-somos h2{
    margin: 0 0 10px 0;
    text-align: center;
    
}

#quem-somos p{
    margin: 0;
    text-align: center;
    align-items: center;
}

#div_quem__somos{
    height: 360px;

    background-color: lightgrey;
    
    text-align: center;
    

}

#quem-somos article{
    width: 25%;
    height: 60%;
    float: left;
    /* border: black 1px solid; */
    margin-top: 50px;
    text-align: center;
    align-items: center;
    
    
    
}
/* ------------------------------------------ */



/* PAGINA DE AGENDAR HORARIO */
#agendar-horario{
    width: 100%;
    height: 400px;
    background-color: aquamarine;
    margin: 0;
}
/* ----------------------------------- */





#serviços figure img{
    height: 100px;

}

#serviços h3{
    margin: 0 0 10px 0;
    text-align: center;
    
}

#serviços p{
    margin: 0;
    text-align: center;
}

#serviços{
    height: 360px;
    background-color: lightseagreen; 
}

#serviços article{
    width: 33.33%;
    height: 60%;
    float: left;
    /* border: black 1px solid; */
    margin-top: 25px;
    text-align: center;
}

/* ----------------------------------- */


